In [1]:
import goldsberry
import pandas as pd
goldsberry.__version__

'1.1'

In [2]:
import numpy as np

In [3]:
data1 = pd.read_csv("C:/Users/89592/Desktop/杂件/Kaggle/train.csv")
data2 = pd.read_csv("C:/Users/89592/Desktop/杂件/Kaggle/structures.csv")  #初步读入训练集和结构数据

In [4]:
data1.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [5]:
data2.head()

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397